body{
    overflow-x: hidden;
}

.bg-image{
    position: absolute;
    z-index: -1;
    left:0;
    right:0
}
#about, #process{
    padding: 150px 0;
}
#wrapper{
    background-image: url('./assets/laptop.jpg');
    background-size: cover;
    height: 500px;
}
#skills{
    background-image: url('./assets/pencil.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
/* 10C9C3 */